node_modules
frontend/node_modules
backend/node_modules
frontend/dist
backend/public
frontend/public
package-lock.json
frontend/package-lock.json
backend/package-lock.json
backend/database/*.db
backend/database/backups
backend/database/uploads
backend/logs
backend/temp
temp
docs
*.png
*.ico
*.svg
